<h1><%= pluralize(@movies.size, 'Movie') %></h1>

<h4><%= link_to 'Add New Movie', new_movie_path %></h4>

<% @movies.each do |movie| %>
	<h3>
		<%= link_to(movie.title, movie) %> 
	</h3>
	<p>
		(<%= movie.rating %>)
	<p>
		<%= format_total_gross(movie) %> 
	</p>
		<p>
			<%= truncate(movie.description, length: 40, separator: ' ') %>
		</p>
		<p>
			<%= movie.released_on.to_formatted_s(:long) %>  
		</p>

		<p>
			<%= movie.cast %>
		</p>

		<p>
			<%= movie.duration %>
		</p>

		<p>
			<%= image_for(movie) %>
		</p>
<% end %>

<%= render 'foot' %>
