<h1><%= pluralize(@movies.size, 'Movie') %></h1>

<% @movies.each do |movie| %>
	<h3>
		<%= movie.title %> 
	</h3>
	<p>
		(<%= movie.rating %>)
	<p>
		<%= format_total_gross(movie) %> 
	</p>
		<p>
			<%= truncate(movie.description, length: 40, separator: ' ') %>
		</p>
		<p>
			<%= movie.released_on.to_s(:release_date) %>
		</p>
<% end %>
