<h1>Movies</h1>

	<% @movies.each do |movie| %>
	<h3>
		<%= movie.title %> 
	</h3>
	<p>
		(<%= movie.rating %>) :
	<p>
		<%= number_to_currency(movie.total_gross) %> 
	</p>
		<p>
			<%= movie.description %>
		</p>
		<p>
			<%= movie.released_on %>
		</p>
	<% end %>
