<header id="content-header">
  <h1>Reviews for <%= link_to(@movie.title, @movie) %></h1>
  <ol id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <span class="review"><%= pluralize(review.stars, 'star') %></span>
      <span class="user">by <%= link_to review.user.name, review.user %></span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>
        &quot;<%= review.comment %>&quot;
          <%= link_to('Delete Review', movie_review_path(@movie, review), :method => :delete )%>
          <%= link_to('Edit Review', edit_movie_review_path(@movie,review))%>
      </p>
    </li>
  <% end %>
</ol>
</header>